background
style="background-image: url(static/images/index/landing-page/wedding/olivebw.jpg);

Logo 
                                        <!-- Logo -->
                                        <a class="navbar-brand" href="index.html" title="Bason">
                                            <img src="static/images/logo.png" alt="Bason" class="normal" />
                                            <img src="static/images/logo-light.png" alt="Bason" class="transparent" />
                                        </a><!-- /End Logo -->


drop down animation
                                        data-animation="animate__fadeInDown"

Spokane, WA title

                                                <!-- Section title -->
                                                <div class="section-title section-title-intro text-center light-color mb-0" data-animation="animate__fadeInUp">
                                                    <!-- Section title container -->
                                                    <div class="section-title-container">

                                                        <!-- Section title body -->
                                                        <div class="section-title-body">

                                                            <!-- Section title heading -->
                                                            <div class="section-title-heading">
                                                                <h3 class="h3 font-weight-900">Spokane, WA</h3>
                                                            </div><!-- /End Section title heading -->

                                                        </div><!--/End Section title body -->

                                                    </div><!-- /End Section title container -->
                                                </div><!-- /End Section title -->



Social 

                                            <!-- Social -->
                                            <div class="widget widget_social text-center">

                                                <!-- Social networks -->
                                                <div class="social-networks social-networks-sm social-networks-layout-2">
                                                    <ul>

                                                        <li>
                                                            <a href="#" title="Facebook">
                                                                <i class="fab fa-facebook-f"></i>
                                                                <i class="fab fa-facebook-f"></i>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#" title="Twitter">
                                                                <i class="fab fa-twitter"></i>
                                                                <i class="fab fa-twitter"></i>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#" title="youtube">
                                                                <i class="fab fa-youtube"></i>
                                                                <i class="fab fa-youtube"></i>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#" title="Behance">
                                                                <i class="fab fa-behance"></i>
                                                                <i class="fab fa-behance"></i>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#" title="Dribbble">
                                                                <i class="fab fa-dribbble"></i>
                                                                <i class="fab fa-dribbble"></i>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div><!-- /End Social networks -->

                                            </div><!-- /End Social -->